.all-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dynamicButton {
  border: 1px solid #ddd;
  color: black;
  padding: 9px 28px;
  border-radius: 26px;
  margin-right: 15px;
  cursor: pointer;
  outline: none;
}

.active {
  background-color: #c61c55;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .all-button {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 4px;
  }
}
